﻿@model phoneBook.tEmployee

@{
    ViewBag.Title = "Employee Details";
    
}

<h2>Employee Details</h2>

<div class="row">
    <div class="col-sm-12">
        <table class="table table-responsive">
            <tr>
                <td>@Html.DisplayNameFor(model => model.Title)</td>
                <td>@Html.DisplayFor(model => model.Title)</td>
            </tr>
            <tr>
                <td>@Html.DisplayNameFor(model => model.FirstName)</td>
                <td>@Html.DisplayFor(model => model.FirstName)</td>
            </tr>
            <tr>
                <td>@Html.DisplayNameFor(model => model.LastName)</td>
                <td>@Html.DisplayFor(model => model.LastName)</td>
            </tr>
            <tr>
                <td>@Html.DisplayNameFor(model => model.Internal)</td>
                <td>@Html.DisplayFor(model => model.Internal)</td>
            </tr>
            <tr>
                <td>@Html.DisplayNameFor(model => model.DepName)</td>
                <td>@Html.DisplayFor(model => model.DepName)</td>
            </tr>
        </table>

        <p>
            @Html.ActionLink("Edit", "Edit", new { id = Model.EmployeeID }) |
            @Html.ActionLink("Back to List", "Index")
        </p>
    </div>
</div>
