﻿@model phoneBook.tEmployee

@{
    ViewBag.Title = "Delete Employee";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete Employee</h2>

<h3>Are you sure you want to delete this?</h3>
<hr />
@Html.Partial("_EmployeeDetails", Model)
<div class="col-sm-6">
    
    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(a => a.EmployeeID)
        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-danger" />
        </div>
    }
</div>
