﻿@model List<phoneBook.Models.EmployeeModel>

@{
    ViewBag.Title = "Export";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var grid = new WebGrid(source: Model, canPage: true, canSort: true, rowsPerPage: 10);
}

<h2>Export</h2>


<div class="row" style="overflow:auto">
    @grid.GetHtml(

    tableStyle: "table table-responsive",
    columns: grid.Columns(

        grid.Column("Title", "Title"),
        grid.Column("FirstName", "First Name"),
        grid.Column("LastName", "Last Name"),
        grid.Column("Internal", "Internal"),
        grid.Column("DepName", "Department"),
        grid.Column(header: "View", format: (item) => Html.ActionLink("View", "View", "Home", new { id = item.EmployeeID }, null)),
        grid.Column(header: "Edit", format: (item) => Html.ActionLink("Edit", "Edit", "Home", new { id = item.EmployeeID }, null)),
        grid.Column(header: "Delete", format: (item) => Html.ActionLink("Delete", "Delete", "Home", new { id = item.EmployeeID }, null))
        ), mode: WebGridPagerModes.Numeric
)
</div>
<div>
    @using (@Html.BeginForm())
    {
        <input type="submit" value="Export Excel" class="btn btn-danger" />
    }
</div>