﻿@model IEnumerable<phoneBook.Models.EmployeeModel>
@{
    ViewBag.Title = "Employee List";
    

}





<div class="row" style="overflow:auto">
    
        <h3 style="text-align:center"><img src="~/images/Kultur_Universitesi_Logo.png" style="height:100px; width:100px;"/>Employee List</h3>
        <br />
</div>

@using (Html.BeginForm("Index","Home"))
{
    <table style="float:right">
        <tr>
            <td>
                
                @Html.TextBox("SearchData", "", new { htmlAttributes = new { @class = "form-control" } })
                <input type="submit" value="SearchData" class="btn btn-sm btn-success" />
            </td>

            <td>
                <a href="Add" class="btn btn-sm btn-primary">Create New Employee</a>
            </td>
            <td>
                <a href="Export" class="btn btn-sm btn-warning">Export</a>
            </td>
        </tr>
    </table>

    

    var grid = new WebGrid(source: Model, canPage: true, canSort: true, rowsPerPage: 10);
<br />
<br />
<div class="row" style="overflow:auto">
@grid.GetHtml(

    tableStyle:"table table-responsive",
    columns:grid.Columns(

        grid.Column("Title", "Title"),
        grid.Column("FirstName","First Name"),
        grid.Column("LastName", "Last Name"),
        grid.Column("Internal", "Internal"),
        grid.Column("DepName", "Department"),
        grid.Column(header:"View", format:(item) => Html.ActionLink("View", "View", "Home", new { id = item.EmployeeID}, null)),
        grid.Column(header: "Edit", format: (item) => Html.ActionLink("Edit", "Edit", "Home", new { id = item.EmployeeID }, null)),
        grid.Column(header: "Delete", format: (item) => Html.ActionLink("Delete", "Delete", "Home", new { id = item.EmployeeID }, null))
        ),mode: WebGridPagerModes.Numeric
)
 </div>
}